<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A simple tool to view status of various sites">
  <meta name="author" content="Michael Galde">
  <title>Dashboard Site status </title>

  <link rel="stylesheet" href="bootstrap.css">
  <!-- <link rel="stylesheet" href="dashboard.css"> -->
  <script src="vue.js"></script>
  <style>
  #cont-table {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
</head>


<body>
  <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="">Network Status Display</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" href="#">Sign out</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div id="app" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <!-- <div id="app" class="container col-md-8 col-md-offset-2"> -->
    <h1>Status</h1>
    <h4>System Status Details:</h4>
      <table class="table table-stripped table-hover" id="cont-table">
        <thead>
          <tr>
            <th>No.</th>
            <th>Name</th>
            <th>URL</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(site, index) in sites">
            <td>{{ index + 1 }}</td>
            <td>{{ site.name }}</td>
            <td><a v-bind:href="getHref(site)" target="_blank">{{ site.url }}</a></td>
            <td v-if="site.status"><span class="badge badge-success">On Line</span></td>
            <td v-else><span class="badge badge-danger">Off Line</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>


  <script>
    let app = new Vue({
      el: "#app",

      data: {
        siteDataUrl: "data.json",
        sites: []
      },

      created: function () {
        this.loadData();
      },

      methods: {
        getHref: function (site) {
          return `${site.url}`;
        },

        loadData: function () {
          let self = this
          fetch(this.siteDataUrl)
            .then(r => r.json())
            .then((resp) => {
              self.sites = resp
              self.getStatus();
            });
        },

        getStatus: function () {
          let self = this;
          self.sites.forEach(function (site, index) {
            let url = `${site.url}`;
            fetch(url, { mode: 'no-cors'})
              .then((resp) => {
                site.status = true;
                if (!resp.ok || resp.status != 200) site.status = false;
                if (resp.type == "opaque") site.status = true;
                self.$set(self.sites, index, site);
              })
          })
        }
      }
    })
  </script>
</body>
</html>
